services:
  ansible-runner:
    build: ./ansible
    container_name: ansible-runner
    volumes:
      - ./ansible:/ansible
      - ./www:/www
      - /var/run/docker.sock:/var/run/docker.sock
    working_dir: /ansible
    command: python /ansible/app.py
    ports:
      - "5000:5000"
    tty: true


  web:
    image: nginx:alpine
    container_name: web-catalogue
    labels:
      - "project=catalogue-it"
    ports:
      - "8080:80"
    volumes:
      - ./www:/usr/share/nginx/html:ro
