services:
  ansible-runner:
    build: ./ansible
    container_name: ansible-runner
    working_dir: /ansible
    privileged: true
    ports:
      - "5000:5000"
    volumes:
      - /etc:/etc
      - /home:/home
      - /var/run/docker.sock:/var/run/docker.sock
    tty: true

  web:
    image: nginx:alpine
    container_name: web-catalogue
    labels:
      - "project=catalogue-it"
    ports:
      - "8080:80"
    volumes:
      - ./www:/usr/share/nginx/html:ro

