---
- name: Installer un logiciel via Docker
  hosts: localhost
  gather_facts: false

  tasks:
    - name: Supprimer le conteneur existant (si il existe)
      shell: "docker rm -f {{ software_name }}-container"
      ignore_errors: yes

    - name: Télécharger l'image et lancer le conteneur
      command: "docker run -d --name {{ software_name }}-container --restart always -p 8081:80 {{ software_name }}"
