---
- name: Installer un logiciel via Docker
  hosts: localhost
  gather_facts: false

  vars:
    software_name: "{{ software_name }}"

  tasks:
    - name: Vérifier si le conteneur pour le logiciel existe déjà
      docker_container:
        name: "{{ software_name }}-container"
        state: started
        image: "{{ software_name }}"
        published_ports:
          - "8080:80"  # Changez les ports en fonction du logiciel
        restart_policy: always
      register: container_status
      ignore_errors: true

    - name: Télécharger l'image du logiciel si elle n'existe pas
      docker_image:
        name: "{{ software_name }}"
        source: pull
      when: container_status.failed

    - name: Lancer le conteneur du logiciel
      docker_container:
        name: "{{ software_name }}-container"
        state: started
        image: "{{ software_name }}"
        published_ports:
          - "8080:80"
        restart_policy: always
