---
- name: Mise à jour du système
  hosts: localhost
  become: true
  tasks:

    - name: Mettre à jour le cache APT
      apt:
        update_cache: yes
        cache_valid_time: 3600

    - name: Mettre à jour tous les paquets
      apt:
        upgrade: dist

    - name: Supprimer les paquets inutiles
      apt:
        autoremove: yes
        purge: yes

