- name: Mise à jour système (simulation)
  hosts: local
  gather_facts: false

  tasks:
    - name: Simuler une mise à jour système
      debug:
        msg: "Mise à jour système effectuée (simulation)"
